@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
@font-face {
    font-family: 'Titulo';
    src: url("assets/fuentes/titulos.woff2");
}

/*
    Variables
*/

:root {
    --titulos: #ffc36b;
    --textos: white;
    --header: #0f0f0f;
    --cuerpo: rgba(15, 15, 15, 0.9);
}

/*
    Reseteo
*/

*::selection {
    color: var(--header);
    background: var(--titulos);
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Kanit', sans-serif;
}

img {
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Titulo';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

main {
    background: var(--cuerpo);
}

section {
    width: 90%;
    margin: 0 auto;
    padding: 50px 25px;
}

section > h2 {
    text-align: center;
    color: var(--titulos);
    max-width: fit-content;
    margin: auto;
}

section > h2::after {
    content: " ";
    display: block;
    width: 70%;
    height: 2px;
    margin: 10px auto 25px auto;
    background: var(--textos);
}

/*
    Header
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--header);
    top: 0;
    z-index: 999;
}

#logo {
    width: 100px;
    margin-left: 15px;
}

.icon { 
    display: none;
    position: absolute; 
    left: 80%; 
    top: 50%;
}

.icon span, .icon span:before, .icon span:after {
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: var(--titulos);
    position: absolute;
    display: inline-block;
    content: '';
}
.icon span:before {
    top: -10px; 
}

.icon span:after {
    bottom: -10px;
}

.icon span, .icon span:before, .icon span:after {
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.icon.active span {
    background-color: transparent;
}
.icon.active span:before, .icon.active span:after {
    top: 0;
}
.icon.active span:before {
    transform: rotate(45deg);
}
.icon.active span:after {
    transform: translateY(-10px) rotate(-45deg);
    top: 10px;
}

.nav a {
    float: left;
    display: block;
    color: var(--titulos);
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}
  
@media (max-width: 600px) {
    #logo {
        width: 125px;
    }
    .nav.responsive {
        width: 100%;
        top: 100%;
        position: absolute;
        background-color: var(--header);
    }
    .icon {
        display: block;
    }
    .nav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .nav a {
        display: none;
    }
}

/*
    Main
*/

/*
    Index
*/

section#portada {
    padding: 0;
    width: 100%;
    height: 100vh;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section#portada a {
    color: var(--textos);
    font-size: 1.5em;
    font-weight: bold;
    transition: all .3s linear;
}

section#portada a:hover {
    transform: scale(1.05);
    color: var(--titulos);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

section#portada video{
    filter: brightness(.6);
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

section#acerca p {
    text-align: center;
    font-size: 1.2em;
    color: var(--textos);
    width: 50%;
    margin: auto;
}

section#recordar > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section#recordar > div div {
    align-self: normal;
    width: 450px;
    overflow: hidden;
    position: relative;
}

section#recordar > div div img {
    height: 100%;
    filter: brightness(.8);
    transition: all .3s ease-in-out;
}

section#recordar > div div:hover img {
    transform: scale(1.1);
    filter: brightness(1);
}

section#recordar > div div h3 {
    color: var(--titulos);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

section#recordar > div div > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
}

section#recordar > div div:hover > div {
    height: 10%;
}

section#recordar p {
    text-align: center;
    font-size: 1.2em;
    color: var(--textos);
    width: 50%;
    margin: 1rem auto;
}

section#recordar p span {
    font-style: italic;
}

section#interseccion {
    padding: 0;
    width: 100%;
    height: 60vh;
    position: relative;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

section#interseccion video{
    filter: brightness(.6);
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section#descubre > div div img {
    height: 100%;
}

section#descubre > div {
    width: 80%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-areas: "f1 f1 f1 f1 f1"
                         "f2 f2 f3 f3 f3"
                         "f2 f2 f3 f3 f3";
    justify-items: stretch;
}
  
section#descubre > div div:nth-child(1) {
    grid-area: f1;
}
  
section#descubre > div div:nth-child(2) {
    grid-area: f2;
}
  
section#descubre > div div:nth-child(3) {
    grid-area: f3;
}

section#descubre > div div {
    position: relative;
    transition: all .3s ease-in-out;
}

section#descubre > div div h3 {
    color: var(--titulos);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
}

section#descubre > div div > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
}

section#descubre > div div:hover > div {
    height: 20%;
}

section#descubre > div div img {
    transition: all .4s linear;
}

section#descubre > div div:hover img {
    filter: brightness(.7);
}

/*
    Relojes
*/

section#seccion1 {
    padding: 0;
    width: 100%;
    height: 100vh;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    background: url("assets/media/fotos/relojes_portada.jpg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

section#seccion1 > div {
    margin-right: 20%;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

section#seccion1 > div h1 {
    font-size: 2em;
    color: var(--titulos);
}

section#seccion1 > div h2 {
    color: var(--textos);
}

section#productos > div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

section#productos > div div {
    position: relative;
    width: 400px;
    overflow: hidden;
    align-self: normal;
}

section#productos > div div img {
    height: 100%;
    transition: transform .3s ease-in-out;
}

section#productos > div div:hover img  {
    transform: scale(1.1);
}

section#productos > div div h3 {
    color: var(--titulos);
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
}

section#productos > div div > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    overflow: hidden;
    background-color: var(--cuerpo);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
}

section#productos > div div:hover > div {
    height: 0%;
}

section#no-te-pierdas{
    padding: 0;
    width: 100%;
    position: relative;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

section#no-te-pierdas a {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#no-te-pierdas video{
    filter: brightness(.5);
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section#no-te-pierdas h2 {
    z-index: 1;
    color: var(--textos);
    font-size: 2em;
    font-weight: bold;
    transition: all .3s linear;
}

section#no-te-pierdas h2:hover {
    transform: scale(1.05);
    color: var(--titulos);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

/*
    FICHA PRODUCTO
*/

section#vmenu {
    padding: 0;
    width: 100%;
    height: 80vh;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section#vmenu h1 {
    color: var(--textos);
    font-size: 3.5em;
    font-weight: bold;
    transition: all .3s linear;
}

section#vmenu h1:hover {
    transform: scale(1.05);
    color: var(--titulos);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

section#vmenu video{
    filter: brightness(.6);
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

section#info p {
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    text-align: justify;
    color: var(--textos);
}

section#interseccion-lady {
    padding: 0;
    width: 100%;
    height: 60vh;
    background: url("assets/media/fotos/interseccion-lady.jpg") no-repeat center center/cover;
    position: relative;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#interseccion-lady div h2 {
    font-size: 2em;
    width: 30%;
    margin: auto;
    color: var(--textos);
}

section#interseccion-lady2 {
    padding: 0;
    width: 100%;
    height: 60vh;
    position: relative;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

section#interseccion-lady2 video{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section#galeria-lady > div div img {
    height: 100%;
    transition: transform .3s ease-in-out;
}

section#galeria-lady > div div {
    overflow: hidden;
}

section#galeria-lady > div div:hover img {
    transform: scale(1.1);
}

section#galeria-lady > div {
    width: 60%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-areas: "g1 g1 g1"
                         "g2 g2 g3"
                         "g2 g2 g3"
                         "g4 g4 g4"
                         "g5 g6 g6"
                         "g5 g6 g6"
                         "g7 g7 g7";
}
  
section#galeria-lady > div div:nth-child(1) {
    grid-area: g1;
}
  
section#galeria-lady > div div:nth-child(2) {
    grid-area: g2;
}
  
section#galeria-lady > div div:nth-child(3) {
    grid-area: g3;
}

section#galeria-lady > div div:nth-child(4) {
    grid-area: g4;
}
  
section#galeria-lady > div div:nth-child(5) {
    grid-area: g5;
}
  
section#galeria-lady > div div:nth-child(6) {
    grid-area: g6;
}

section#galeria-lady > div div:nth-child(7) {
    grid-area: g7;
}

section#galeria-lady p {
    width: 50%;
    font-size: 1.4em;
    text-align: justify;
    margin: 1rem auto;
    color: var(--textos);
}

section#cambio > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section#cambio > div > div {
    width: 400px;
    overflow: hidden;
    position: relative;
}

section#cambio > div div > div {
    overflow: hidden;
    position: absolute;
    color: var(--textos);
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1em;
    transition: all .4s ease-in-out;
}

section#cambio > div div:hover {
    cursor: pointer;
}

section#cambio > div div:hover > div {
    height: 0%;
}

section#cambio > div div img {
    transition: all .3s ease-in-out;
}

section#cambio > div div:hover img {
    transform: scale(1.1);
}

/*
    Novedades
*/

section#novedades-cabecera {
    padding: 0;
    width: 100%;
    height: 75vh;
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section#novedades-cabecera h1 {
    color: var(--textos);
    font-size: 2.5em;
    font-weight: bold;
    transition: all .3s linear;
}

section#novedades-cabecera video{
    filter: brightness(.7);
    position: fixed;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -9999;
}

section#noticias p {
    font-size: 1.8em;
    color: var(--textos);
    text-align: justify;
    width: 50%;
    margin: 2rem auto;
}

section#noticias a {
    width: 100%;
    display: block;
    height: 100%;
}

section#noticias > div {
    display: grid;
    gap: 20px;
    height: 150vh;
    grid-template-areas: "z4 z4 z4"
                         "z4 z4 z4"
                         "z3 z3 z2"
                         "z3 z3 z2"
                         "z5 z1 z1"
                         "z5 z1 z1";
}

section#noticias > div > div:nth-child(1) {
    background: url("assets/media/fotos/buzo.webp") no-repeat center center/cover;
    grid-area: z1;
}

section#noticias > div > div:nth-child(2) {
    background: url("assets/media/fotos/diamantes.webp") no-repeat center center/cover;
    grid-area: z2; 
}

section#noticias > div > div:nth-child(3) {
    background: url("assets/media/fotos/evento.webp") no-repeat center center/cover;
    grid-area: z3;
}

section#noticias > div > div:nth-child(4) {
    background: url("assets/media/fotos/exploracion.jpg") no-repeat center center/cover;
    grid-area: z4;
}

section#noticias > div > div:nth-child(5) {
    background: url("assets/media/fotos/cine.jpg") no-repeat center center/cover;
    grid-area: z5;
}

section#noticias > div > div a {
    position: relative;
}

section#noticias > div > div > a div {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    display: flex;
    background: var(--header);
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}

section#noticias > div > div > a div h3 {
    color: var(--titulos);
}

section#noticias > div > div:hover > a div {
    height: 20%;
}

/*
    Ficha novedad
*/

main#explora {
    background: rgba(0, 0, 0, .65) url("assets/media/fotos/noticia_portada.webp") no-repeat center center/cover fixed;
    background-blend-mode: darken;
}

section#explora-cabecera {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#explora-cabecera h1 {
    font-size: 4em;
    color: var(--textos);
}

section#elementos {
    width: 100%;
    padding: 0;
}

section#elementos > div:nth-child(1) {
    width: 50%;
    margin: auto;
    color: var(--textos);
    text-align: justify;
    font-size: 1.5em;
}

section#elementos > div:nth-child(1) h2 {
    text-align: left;
    margin: 1.5rem auto;
}

section#elementos > div:nth-child(2) {
    width: 50%;
    margin: 4rem auto;
}

section#elementos > div:nth-child(3) {
    width: 50%;
    margin: auto;
    color: var(--textos);
    text-align: justify;
    font-size: 1.5em;
}

section#elementos > div:nth-child(4) {
    margin: 50px 0 0 0;
    padding: 100px;
    background: url("assets/media/fotos/noticia_interseccion.webp") no-repeat center center/cover fixed;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section#elementos > div:nth-child(4) p {
    width: 50%;
    font-weight: bold;
    color: var(--header);
    text-align: justify;
    font-size: 1.5em;
}

section#elementos > div:nth-child(5) {
    padding: 100px;
    background: rgba(0, 0, 0, 0.658) url("assets/media/fotos/noticia_interseccion2.webp") no-repeat center center/cover fixed;
    background-blend-mode: darken;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section#elementos > div:nth-child(5) p {
    width: 50%;
    font-weight: bold;
    color: var(--textos);
    text-align: justify;
    font-size: 1.5em;
}

section#elementos > div:nth-child(6) {
    padding: 100px;
    background-blend-mode: darken;
    background:rgba(0, 0, 0, .3) url("assets/media/fotos/noticia_interseccion3.webp") no-repeat center center/cover fixed;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--textos);
}

section#elementos > div:nth-child(6) h2 {
    width: 50%;
    font-size: 2.5em;
}

section#elementos > div:nth-child(6) small {
    font-size: 1.6em;
}

/*
    Contacto
*/

section#contacto-cabecera {
    background: rgba(0, 0, 0, .4) url("assets/media/fotos/contacto_portada.jpg") no-repeat center center/cover fixed;
    background-blend-mode: darken;
    padding: 0;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#contacto-cabecera h1 {
    font-size: 3.5em;
    color: var(--textos);
}

section#contacto form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

option:disabled {
    color: var(--titulos);
}

section#contacto form select {
    width: 25%;
    height: 50px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 1px var(--titulos);
    color: var(--textos);
    background: rgba(0, 0, 0, .6);
    text-align: center;
    font-size: 1.2em;
}

section#contacto form select:focus, section#contacto form input[type="date"]:focus {
    outline: none;
}

section#contacto form label {
    color: var(--titulos);
    font-size: 1.2em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

section#contacto form input[type="date"] {
    width: 15%;
    height: 50px;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 1px var(--titulos);
    background: rgba(0, 0, 0, .6);
    color: var(--textos);
    text-align: center;
    font-size: 1.2em;
}

section#contacto form input[type="date"]::after {
    color: white;
}

section#contacto form input[type="submit"] {
    padding: 15px 25px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 0px 5px 1px var(--titulos);
    background: rgba(0, 0, 0, .6);
    color: var(--textos);
    transition: all .3s ease-in-out;
}

section#contacto form input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.1);
}

section#contacto-fin {
    background: rgba(0, 0, 0, .7) url("assets/media/fotos/contacto_fin.jpg") no-repeat center center/cover fixed;
    background-blend-mode: darken;
    padding: 0;
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#contacto-fin h2 {
    font-size: 2.5em;
    color: var(--textos);
}

/*
    Footer
*/

footer{
    background:var(--header);
    padding:30px 0px;
    text-align:center;
}

footer div{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:var(--textos);
    font-size:1em;
}

footer div a{
    text-decoration:none;
    color:var(--textos);
    transition:0.5s;
}

footer div a:hover{
    color:var(--titulos);
}

footer div ul{
    width:100%;
}

footer div ul li{
    display:inline-block;
    margin:0px 30px;
}

footer div a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    footer{
        text-align:center;
        padding:20px;
    }
    footer div ul li{
        display:block;
        margin:10px 0px;
    }
    footer div a i{
        margin:0% 3%;
    }
}

/*
    Media pagina en general
*/

@media (max-width: 1435px) {
    section#descubre > div {
        width: 100%;
    }

    section#explora-cabecera h1 {
        font-size: 3.5em;
    }
}

@media (max-width: 1200px) {
    section#seccion1 > div {
        margin-right: 10%;
    }

    section#info p {
        width: 75%;
    }

    section#galeria-lady > div {
        width: 75%;
    }

    section#interseccion-lady div h2 {
        font-size: 1.6em;
        width: 50%;
    }

    section#explora-cabecera h1 {
        font-size: 3em;
    }

    section#elementos > div:nth-child(6) h2 {
        font-size: 2em;
    }

    section#contacto form select {
        width: 35%;
    }

    section#contacto form input[type="date"] {
        width: 25%;
    }

    section#descubre > div div h3 {
        font-size: 1em;
    }

    section#noticias > div > div > a div h3 {
        font-size: 1em;
    }
}

@media (max-width: 992px) {
    section#portada a {
        font-size: 1em;
    }

    section#acerca p {
        width: 75%;
    }

    section#seccion1 > div {
        margin-right: 5%;
    }

    section#info p {
        width: 80%;
        font-size: 1.1em;
    }

    section#galeria-lady > div {
        width: 85%;
    }

    section#galeria-lady p {
        width: 75%;
        font-size: 1.2em;
    }

    section#noticias p {
        font-size: 1.4em;
        width: 75%;
        margin: 2rem auto;
    }

    section#explora-cabecera h1 {
        font-size: 2em;
    }

    section#elementos > div:nth-child(4), section#elementos > div:nth-child(5), section#elementos > div:nth-child(6) {
        padding: 35px;
    }
    
    section#elementos > div:nth-child(1), section#elementos > div:nth-child(3) {
        width: 75%;
        font-size: 1.4em;
    }

    section#elementos > div:nth-child(4) p, section#elementos > div:nth-child(5) p {
        width: 70%;
        font-size: 1.2em;
    }

    section#contacto-cabecera h1 {
        font-size: 3em;
    }

    section#contacto-fin h2 {
        font-size: 2em;
    }

    section#noticias > div {
        grid-template-areas:
            "z4 z4 z4"
            "z3 z3 z3"
            "z2 z2 z2"
            "z5 z5 z5"
            "z1 z1 z1";
    }
}

@media (max-width: 768px) {
    section#portada a {
        width: 70%;
        text-align: center;
    }

    section#recordar p {
        width: 80%;
    }

    section#descubre > div {
        width: 90%;
        grid-template-areas:
            "f1 f1 f1 f1 f1"
            "f2 f2 f2 f2 f2"
            "f3 f3 f3 f3 f3";
    }

    section#seccion1 > div {
        font-size: .75em;
    }

    section#vmenu h1 {
        font-size: 2.8em;
    }

    section#info p {
        width: 100%;
        font-size: 1em;
    }

    section#galeria-lady > div {
        width: 100%;
    }

    section#galeria-lady p {
        width: 100%;
        font-size: 1.2em;
    }

    section#noticias p {
        font-size: 1.4em;
        width: 100%;
    }

    section#noticias > div > div > a div {
        height: 20%;
    }

    section#recordar > div div > div {
        height: 10%;
    }

    section#descubre > div div > div {
        height: 20%;
    }

    section#explora-cabecera h1 {
        text-align: center;
        margin: auto;
        width: 80%;
        font-size: 2em;
    }

    section#elementos > div:nth-child(1), section#elementos > div:nth-child(3) {
        width: 90%;
        font-size: 1.2em;
    }

    section#elementos > div:nth-child(2) {
        width: 70%;
        margin: 4rem auto;
    }

    section#elementos > div:nth-child(6) h2 {
        font-size: 1.5em;
    }

    section#elementos > div:nth-child(6) small {
        font-size: 1.2em;
    }

    section#elementos > div:nth-child(4) p, section#elementos > div:nth-child(5) p {
        width: 70%;
        font-size: 1.1em;
    }

    section#contacto form select {
        width: 50%;
    }

    section#contacto form input[type="date"] {
        width: 35%;
    }

    section#contacto-fin h2 {
        text-align: center;
        margin: auto;
        width: 70%;
        font-size: 1.8em;
    }
}

@media (max-width: 576px) {
    section > h2 {
        font-size: 1.2em;
    }

    section#portada a {
        font-size: 1.5em;
    }

    section#acerca p, section#recordar p {
        width: 100%;
    }

    section#seccion1 > div {
        font-size: .65em;
    }

    section#no-te-pierdas h2 {
        font-size: 1.5em;
        width: 80%;
        text-align: center;
        margin: auto;
    }

    section#vmenu h1 {
        font-size: 2.2em;
    }

    section#interseccion-lady div h2 {
        font-size: 1.4em;
        width: 80%;
    }

    section#galeria-lady > div {
        grid-template-areas:
            "g1 g1 g1"
            "g2 g2 g2"
            "g3 g3 g3"
            "g4 g4 g4"
            "g5 g5 g5"
            "g6 g6 g6"
            "g7 g7 g7";
    }

    section#novedades-cabecera h1 {
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 2.3em;
    }

    section#noticias p {
        font-size: 1.2em;
        width: 100%;
    }

    section#elementos > div:nth-child(6) h2 {
        width: 65%;
    }

    section#contacto form select {
        width: 80%;
    }

    section#contacto form input[type="date"] {
        width: 65%;
    }

    section#descubre > div div h3 {
        font-size: .7em;
    }

    section#productos > div div h3 {
        font-size: 1em;
    }

    section#cambio > div div > div {
        font-size: .8em;
    }

    section#contacto-cabecera h1 {
        font-size: 2em;
    }

    section#noticias > div > div > a div {
        font-size: .8em;
    }

    section#descubre > div {
        width: 100%;
    }

    section#elementos > div:nth-child(4) p, section#elementos > div:nth-child(5) p {
        width: 90%;
        font-size: 1em;
    }
}

@media (max-width: 370px) {
    section {
        width: 100%;
        padding: 25px 15px;
    }

    section#portada a {
        font-size: 1em;
    }

    section > h2 {
        font-size: .8em;
    }

    section#acerca p, section#recordar p {
        font-size: 1em;
    }

    section#vmenu h1 {
        font-size: 1.8em;
    }

    section#interseccion-lady div h2 {
        font-size: 1.2em;
        width: 90%;
    }

    section#galeria-lady p {
        font-size: 1em;
    }

    section#novedades-cabecera h1 {
        font-size: 1.8em;
    }

    section#noticias p {
        font-size: 1em;
    }

    section#explora-cabecera h1 {
        font-size: 1.5em;
    }

    section#elementos > div:nth-child(1), section#elementos > div:nth-child(3) {
        font-size: 1em;
    }

    section#elementos > div:nth-child(2) {
        width: 90%;
        margin: 2rem auto;
    }

    section#elementos > div:nth-child(6) h2 {
        font-size: 1em;
    }

    section#elementos > div:nth-child(6) small {
        font-size: .8em;
    }
}